* {
    font-size: 10px;
}

/* O rem está relacionado ao tamanho da fonte global */
.conteudo1 {
    background-color: red;
    font-size: 20px;
    width: 5rem;
    height: 100px;
}

.conteudo2 {
    background-color: green;
    font-size: 15px;
    width: 10rem;
    height: 100px;
}